body > section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  float: left;
  padding-top: 100px;
  width: 50%;
  height: 561px;
}

.filler {
  height: 300px;
}

.headerimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:35%;
  margin-top: 500px;
  margin-left: 100px;
  height: 40%;
  position: fixed;
  background-color: #ffa500;
  background-image: url(https://www.transparenttextures.com/patterns/basketball.png);
}

#alert {
  color: red;
}

