@media (max-width: 1024px) {
  nav {
    background-color: orange;
    background-image: url(https://www.transparenttextures.com/patterns/basketball.png);
  }

  .fullheader {
    width: 100%
  }

  .container {
    display: flex;
    justify-content: center;
    min-width: 90%; 
    width: 100%;
    margin-top: 10%;
  }

  section.new-tweet {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .headerimg {
    height: 100%;
    position: unset;
    width: 100%;
    background-image: url(https://www.transparenttextures.com/patterns/basketball.png);
    margin-top: 0px;
    margin-left: 0px;
  }

  .new-tweet {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }

  main {
    padding-left: 30px;
    padding-right: 30px;
  }
}