nav {
  background-color: #4056A1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  color: #FFFFFF;
  padding: 1.5em;
  align-items: center;
  width: 100%;
  /* position: absolute; */
}

nav > span {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

.bold {
  font-weight: 600;
}

.writeTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 10px;
  font-size: 1em;
  margin-top: 20px;
}



.arrow {
  margin-top: 10px;
  font-size: 20px;
  color: red;
}