.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f1ec;
  width: 100%;   
  margin-top: 300px;
  /* margin-left: 500px; */
}

div {   
  display: flex;   
  justify-content: space-between; 
}

label {   
  display: flex;   
  align-items: flex-end;   
  border-bottom: black; 
  font-family: 'Bungee', sans-serif;
}

textarea {   
  width: 100%;   
  border: none;   
  border-bottom: 20px solid black;   
  border-width: thick;   
  background: transparent;   
  outline: none; 
}

button {
  font-family: 'Bungee', sans-serif;
  color: white;
  background-color: #4056A1;
  outline: none;
}

form {   
  width: 100%; 
}

.counter {
  font-family: 'Bungee', sans-serif;
  color: black;
}

.redText {
  color: red;
}