article.tweets-container {
  border: 1px;
  border-color: black;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}

article.tweets-container:hover {
  box-shadow: 5px 10px;
}

article div.tweetmain {
  display: flex;
}

