.tweets-container {
  border: 4px solid;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 40px;
}

.tweets-container:hover {
  box-shadow: 5px 10px gray;
}

div.tweetmain {
  display: flex;
}


p.tweet {
  padding-left: 10px;
  padding-bottom: 35px;
  border-bottom: 4px solid;
}

p.handle {
  color: gray;
  font-size: small;
}


article footer {
  display: flex;
  height: 50px;
  justify-content: space-between;
  font-size: small;
  border-top: 2px;  
  border-color: black;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: -10px;
}

article footer p {
  padding-top: -10px;
}

article header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.tweetmain i {
  font-size: 50px;
  padding-right: 5px;
  padding-top: 10px;
  padding-left: 12px;
}

.tweetmain p {
  /* padding-left: 8px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons i:hover {
  color: rgb(94, 143, 235);
}


.tweetmain img {
  padding-right: 10px;
}

.maintweetcontainer {
  display: flex;
  flex-direction: column-reverse;
}
